/*-- Font --*/
@font-face {
  font-family: 'Lato';
  src: url('fonts/lato-black-webfont.woff2') format('woff2'),
       url('fonts/lato-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/*-- Global styles --*/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  background-color: #141619;
}

/*-- Main container styles --*/
#main {
  display: flex;
  width: 100%;
  height: 100%;
}

#main .move {
  display: inline-block;
  height: 100%;
  width: 50%;
  margin: 0;
  padding: 0;

  outline: none;
  border: none;
  font-size: 3rem;
  color: #fdfffc;

  font-family: 'Lato';
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 100vh;
  text-align: center;

  background-color: #141619;
}

#main .move.active {
  background-color: #00a7e1;
}

#main #rotation-drive.active {
  background-color: #e71d36;
}
